html,
    body {
      padding: 0;
      margin: 0;
    }
    body {
      padding: 10px;
      background-color: #CCC;
    }
    .wrapper {
      width: 410px;
      background-color: white;
      margin-left: auto;
      margin-right: auto;
      padding: 48px 50px 55px 50px;
    }
    .fullname,
    .img { text-align: center; }
    .img { margin-bottom: -10px; }
    .img img {
      height: auto;
      max-width: 130px;
    }
    hr { margin: 15px 0 20px; }
    h2 { margin-top: 0; }
    p,
    ul {
      margin: 10px 0;
      font-size: large;
    }
    .margin-bottom { margin-bottom: 30px; }
    ul { padding-left: 36px; }
    ul li { line-height: 26px; }
    p {
      line-height: 26px;
      padding: 0 10px;
    }